* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.singleLine {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.totalMovieCount {
  margin-left: 4px;
  margin-right: auto;
  padding: 10px 0;
}

.movieList ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.movieList ul li {
  width: 22%;
  margin: 0 2px 20px;
  overflow: hidden;
}

.movieList ul li button {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movieList ul li button img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.movieInfo {
  width: 100%;
  background: #111;
  padding: 18px 8px;
  color: #fff;
}

.movieInfo > h3 {
  font-size: 14px;
  margin-bottom: 8px;
}

.movieInfo .score {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 4px 0;
}

.movieInfo .genres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}